.mycollections {
  width: 213px;
  height: 234px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  position: relative;
  //   border-radius: 20px;
  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .mycollections__text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    h2 {
      font-size: 24px;
      line-height: 120%;
      color: #efeee0;
    }
    p {
      font-size: 10px;
      line-height: 120%;
      color: #efeee0;
      opacity: 0.75;
    }
  }
}
