.main__body {
  height: 100vh;
  width: 100%;
  background-color: #1d2123;
  display: flex;
}
// shared container flex
.shared__container-flex {
  display: flex;
  gap: 2%;
  height: 320px;
 
  margin: 1rem;

  // shared container flex item
  .shared__container-flex__item {
    position: relative;
    flex: 2;
    height: 100%;
    background-color: gold;
    padding: 1rem;
    background: #609eaf url("../../assets/Vector.svg") no-repeat right;
    border-radius: 40px;
    overflow: hidden;

    // shared container

    .shared__container-flex__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 1rem;
      width: 49%;
      h1 {
        /* Bold/35px */
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 120%;
        color: #FFFFFF;

      }
      // shared container text
      p {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 120%;
        /* or 17px */

        color: #ffffff;
      }
      .shared__container-people-image {
        display: flex;
        // justify-content: space-around;
        align-items: center;
      }
      .ptag {
        margin: 10px;
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: white;
      }
    }

    // shared container human image
    .humanbg {
      position: absolute;
      top: 1%;
      right: 0;
    }
  }
}
