@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.shared__container{
 width: calc(100% - 100px) !important;;
 height: 100%;
 margin-top: 1.4rem;
margin-left: 100px;
}
a{
    text-decoration: unset;
}