.swiper__container {
  width: 100% !important;
  margin: 0.5rem;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #efeee0;
    margin: 1rem;
  }
  // slideritem
  .slider__item {
    width: 133px !important;
    cursor: pointer;
    img {
      max-width: 100%;
      height: 133px;
      border-radius: 25px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      margin: 0.3rem;
    }
  }
}
