.swiper__container {
   width: 100%!important;
   margin: 0.5rem;

  // slideritem
  .slider__item {
    width: 153px !important;
    img {
      max-width: 100%;
      height: 153px;
      border-radius: 25px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;
      margin: 0.3rem;
    }
  }
}
