.navbar {
  display: flex;
  padding: 0.5rem 2.5rem 0;
  gap: 2%;

 // search bar
 .input__container {
    height: 40px;
    width: 60%;
    z-index: 20;
    position: relative;
    

    .searchicon {
      position: absolute;
      left: 2%;
      top: 30%;
    }
  }
  input {
    padding: 0.2rem;
    height: 100%;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    padding: 0 2.5rem;
    width: 100%;
  }
 
  .sidebar__logo {
    margin-bottom: 0.5rem;
    color:white;
    display: flex;
    align-items: center;
    .menu{
        font-size: 20px;
        margin-right: 1rem;
        cursor: pointer;
    }
  }
}
.nav__container{
    display: block !important;
    top: 5%;
    width: 100%;
    padding: 1rem 2.4rem;
    z-index: 10;
    left: 0;
    background-color: #1d2123;
}