.sidebar__container {
  width: 100px;
  height: 100%;
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  border: 1px solid;

  .sidebar__btn,
  .sidebar__profile {
    margin: 0.5rem 0;
    background: #1a1e1f;
    border-radius: 32px;
    padding: 1rem;
  }
  .sidebar__logo{
    margin-bottom: 0.5rem;
  }
}
.sidebarbutton {
  margin: 0.9rem 0 0.5rem;
}
.sidebarbutton {
  color: #efeee0;
}
.sidebarbutton.active {
  color: orange !important;
}
