.sidebar__container {
  width: 100px;
  height: 100%;
  display: flex;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  // search bar
  .input__container {
    height: 40px;
    width: 20%;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 7%;

    
    .searchicon {
      position: absolute;
      left: 2%;
      top: 30%;
    }
  }
  input {
    padding: 0.2rem;
    height: 100%;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    padding: 0 1.5rem;
    width: 100%;
  }
  .sidebar__btn,
  .sidebar__profile {
    margin: 0.5rem 0;
    background: #1a1e1f;
    border-radius: 32px;
    padding: 1rem;
  }
  .sidebar__logo {
    margin-bottom: 0.5rem;
  }
}
.sidebarbutton {
  margin: 0.9rem 0 0.5rem;
}
.sidebarbutton {
  color: #efeee0;
}
.sidebarbutton.active {
  color: orange !important;
}
