@import url(./shared/global.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
   font-family: 'Quicksand';
}
body{
    background: #1D2123;
}